// Bootstrap
@import "bootstrap/scss/bootstrap";

.page-enter-active,
.page-leave-active {
  transition: opacity .25s
}

.page-enter,
.page-leave-active {
  opacity: 0
}

pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	color: #adbac7;
	background-color: #2D333B;
	border-radius: 6px;
}

code {
	padding: 2px 4px;
	color: #adbac7;
	background-color: #414851;
	font-size: .9em;
	line-height: 1;
	border-radius: 6px;
}